.map {
    width: auto;
    height: 580px;
}
.padding10px {
    padding-top: 10px;
}
.visualFillers {
    width: auto;
    height: 200px;
}
.extraMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}


