<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC AirBnB Dashboard</title>
  <!-- Sources -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="{{url_for("static",filename="js/app.js")}}"></script>
  <!-- Style Sheets -->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
        <!-- Marker cluster JavaScript code -->
        <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <!-- container div (bootstrap requirment for layout) -->
  <div class="container-fluid">
    <!-- Nav -->
    <ul class="nav nav-fill padding10px">
      <li class="nav-item">
        <div>New York City AirBnB Dashboard</div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div>
      </li>
    </ul>
<!-- End of Nav -->
<!-- Map populates in div below: -->
<div class="row">
  <div class="col-7">
    <div id="map" class="map"></div>
  </div>
  <div class="col-5">
    <div class="padding10px">Welcome to our AirBnB dashboard.
      Use the dropdown button above to choose a neighborhood
      and view our visualizations, including: an interactive map, a histogram and word cloud.
    </div>
    <hr />
    <div id="histogram"></div>
    <hr />
    <div id="wordcloud"></div>
  </div>
</div>

    <!-- closing div below for bootstrap container -->
  </div>

  
  <!-- <script src="{{url_for("static",filename="js/app.js")}}"></script> -->
  <!-- <script src="./static/js/map.js"></script> --> 

</body>
</html> 


<!-- Ethan's Original -->

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Interactive Histogram</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{url_for("static",filename="js/app.js")}}"></script> 
</head>


<body>
    <h1>Interactive Histogram</h1>
    <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Select Neighborhood:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
    <div id="histogram"></div>
    <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
          Word clouds are cool.
      </p>
  </figure>
</body>

-->

